.App {
  background: #f0f2f5;
  font-family: "Roboto", sans-serif;
}
/* If you're using a separate CSS file */
.shadow-up {
  box-shadow: 0 -4px 6px -6px #000; /* Adjust the values to control the shadow appearance */
}
.customTooltip * {
  color: #4a4a4a;
  font-size: 18px;
}

.customTooltip .introjs-tooltip-title {
  color: #0a41c9;
}
